<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="header-container">
    <div class="logo">
    {{#link 'help_center'}}
      <img src="{{settings.logodeca}}" alt="{{t 'home_page' name=help_center.name}}" />
      {{#if settings.show_brand_name}}
        <span aria-hidden="true">{{help_center.name}}</span>
      {{/if}}
    {{/link}}
  </div>

  <div class="nav-wrapper">
    <a href="#form" class="header-callcenter-button">
      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.3057 11.1751L12.5312 11.7411C10.5099 9.96804 10.173 9.61344 8.82548 7.84039L9.34428 4.91131L8.36396 2.16663H5.83668C4.10915 2.16663 3.09854 2.16663 2.0879 2.16663C2.0879 4.24996 2.88224 8.74464 6.9248 13C11.3042 17.6099 15.8379 18.8333 17.9212 18.8333C17.9212 17.4149 17.9212 15.612 17.9212 14.7659V12.2241L15.3057 11.1751Z" stroke="#292728" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span>Atendimento</span>
    </a>
  </div>
  </div>
</header>
