<a class="skip-navigation"
   tabindex="1"
   href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="header-container">
    <div class="logo">
      {{#link 'help_center'}}
      <svg width="232"
           height="29"
           viewBox="0 0 232 29"
           fill="none"
           alt="{{t 'home_page' name=help_center.name}}"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M8.24805 6.13515C5.85875 6.22332 3.52817 7.32837 2.01358 9.09176C0.686848 10.6377 0 12.4833 0 14.4995C0.0058705 16.7801 0.798387 18.7081 2.4069 20.3245C3.0644 20.9828 3.61623 21.4061 4.37352 21.8175C7.39095 23.4633 11.3594 23.193 14.0657 21.1651C14.6351 20.736 15.4746 19.8484 15.8738 19.243C16.1439 18.8315 16.7896 17.5854 16.7896 17.4678C16.7896 17.4502 16.1732 17.4384 15.4159 17.4384H14.0364L13.7604 17.9087C12.9444 19.2782 11.7292 20.0541 9.93288 20.348C9.26364 20.4597 8.13064 20.4597 7.49075 20.348C5.45956 19.9953 3.78647 18.6611 3.04092 16.8095C2.7063 15.969 2.61824 15.4928 2.62411 14.4701C2.62998 13.3885 2.77674 12.7243 3.2229 11.825C4.43809 9.3739 7.13852 8.14541 10.0738 8.70969C11.7527 9.03298 13.0384 9.89704 13.8074 11.2372L14.007 11.5899L15.3983 11.6075C16.1615 11.6134 16.7896 11.6016 16.7896 11.5723C16.7896 11.4253 15.9795 9.92643 15.6742 9.50321C14.2653 7.57525 11.923 6.31737 9.48085 6.1763C9.1932 6.16454 8.87619 6.14103 8.77639 6.13515C8.68246 6.12927 8.44177 6.12927 8.24805 6.13515Z"
              fill="#3E3F41" />
        <path d="M26.7692 6.16425C24.2038 6.32883 21.7205 7.77481 20.2881 9.94377C18.9908 11.9011 18.5916 14.2876 19.1669 16.5565C19.9653 19.6894 22.4837 22.0406 25.7712 22.7342C26.5931 22.9046 28.0372 22.9164 28.9413 22.7636C30.1447 22.552 31.354 22.0641 32.2874 21.4058C32.7219 21.1001 33.6964 20.1773 33.6964 20.0774C33.6964 20.048 33.7257 20.0245 33.7551 20.0245C33.7903 20.0245 33.8138 20.4829 33.8138 21.2882V22.552H35.0759H36.3381V14.5286V6.50517H35.0759H33.8138V7.78069V9.0562L33.3383 8.54482C31.7826 6.86373 29.3874 5.99379 26.7692 6.16425ZM29.2348 8.72704C31.1016 9.22666 32.5164 10.3611 33.2326 11.9423C33.8373 13.2766 33.9253 15.0811 33.4498 16.4624C32.7806 18.4198 31.0664 19.9069 28.9706 20.3419C26.8279 20.7886 24.6088 20.1244 23.1706 18.6137C21.9436 17.3324 21.3918 15.7218 21.5562 13.9231C21.7851 11.4368 23.5756 9.36773 26.053 8.74467C26.7163 8.57421 26.7692 8.57421 27.8259 8.59184C28.5655 8.6036 28.9002 8.63887 29.2348 8.72704Z"
              fill="#3E3F41" />
        <path d="M44.381 6.18796C43.2421 6.34666 42.1971 6.68758 41.4046 7.1637C41.2226 7.2695 40.8704 7.55752 40.6238 7.79852C39.9018 8.50387 39.5495 9.33266 39.4791 10.4906C39.3793 12.0542 40.0192 13.3708 41.2813 14.1878C42.3263 14.8638 43.5767 15.2282 45.8955 15.528C47.6978 15.7573 48.1498 15.8572 48.9599 16.1981C50.1869 16.7036 50.6683 17.65 50.3043 18.8255C50.1986 19.1606 50.1223 19.2781 49.8229 19.5838C49.4355 19.9717 48.9893 20.1892 48.2261 20.3597C47.7271 20.4772 45.7781 20.5243 45.0326 20.442C43.2421 20.248 41.4105 19.6014 39.9781 18.6551L39.4791 18.3259L39.4615 19.6837C39.4497 20.7241 39.4674 21.065 39.5202 21.1179C39.6963 21.2825 40.5945 21.7528 41.1992 21.9996C43.3419 22.8578 46.2243 23.1282 48.414 22.6697C51.5488 22.0173 53.175 20.1716 52.8991 17.6088C52.7758 16.4685 52.4705 15.7631 51.7954 15.0695C51.2436 14.4994 50.4745 14.0703 49.4002 13.7411C48.6547 13.5178 47.8269 13.3649 46.3417 13.1768C44.199 12.9123 43.3595 12.6478 42.7666 12.0541C42.3791 11.6662 42.2969 11.437 42.2969 10.7081C42.2969 10.1027 42.3087 10.0439 42.473 9.74412C42.7842 9.17983 43.3125 8.84479 44.2577 8.6038C44.698 8.49211 44.921 8.47448 46.0541 8.47448C47.416 8.47448 47.7741 8.51563 48.8132 8.78013C49.594 8.97998 50.3395 9.268 51.0029 9.62656L51.543 9.92045L51.5312 8.63906L51.5136 7.36355L51.1907 7.18133C50.4334 6.75224 49.5822 6.47598 48.4023 6.26437C47.4688 6.09979 45.3026 6.05276 44.381 6.18796Z"
              fill="#3E3F41" />
        <path d="M62.9032 6.16398C59.4983 6.39322 56.4984 8.71501 55.4418 11.9479C54.9956 13.3116 54.9193 14.7869 55.2128 16.2094C56.0405 20.224 59.8564 23.1219 63.9892 22.875C66.2259 22.7398 67.9694 21.9933 69.3783 20.565L69.9184 20.0124V21.2821V22.5517H71.1806H72.4427V14.5283V6.5049H71.1806H69.9184V7.78042V9.05593L69.7012 8.79143C68.1749 6.97514 65.5918 5.98177 62.9032 6.16398ZM65.5097 8.76204C67.2884 9.25578 68.6562 10.402 69.3724 12.0008C70.0886 13.5878 70.0475 15.6804 69.2668 17.2204C68.8676 18.0022 68.0574 18.9074 67.306 19.407C65.1516 20.8471 62.3102 20.8295 60.1675 19.3717C59.328 18.8016 58.5062 17.7964 58.1187 16.8677C57.5493 15.504 57.4964 13.9052 57.9778 12.5357C58.6705 10.5489 60.4375 9.05593 62.5979 8.64448C62.8914 8.59158 63.3258 8.57394 63.9892 8.5857C64.8052 8.60921 65.0459 8.6386 65.5097 8.76204Z"
              fill="#3E3F41" />
        <path d="M128.447 0.848183C126.809 1.01277 125.523 1.31254 124.191 1.84743C121.672 2.85844 119.459 4.67473 117.98 6.94949C115.361 10.97 115.074 16.413 117.246 20.7627C118.843 23.9544 121.678 26.3879 125.1 27.487C126.439 27.9161 127.648 28.1277 129.122 28.1806C134.652 28.3805 139.237 25.659 141.89 20.5981C142.084 20.2337 142.242 19.9104 142.242 19.8927C142.242 19.8692 140.751 19.8516 138.931 19.8516H135.626L135.462 20.0867C135.204 20.457 134.305 21.2917 133.836 21.5915C132.99 22.1322 132.022 22.4849 130.895 22.6495C130.043 22.7729 128.617 22.7318 127.795 22.5554C125.271 22.0206 123.304 20.4923 122.259 18.2587C122.001 17.7061 121.743 16.9538 121.672 16.5423L121.631 16.3248H132.345H143.052L143.099 15.8428C143.17 15.0669 143.135 13.3565 143.035 12.5923C142.26 6.74376 138.168 2.25889 132.544 1.09506C131.394 0.859938 129.48 0.74238 128.447 0.848183ZM131.294 6.39109C132.403 6.64384 133.172 6.96713 134.041 7.54317C135.315 8.39547 136.301 9.64747 136.759 10.9994C136.836 11.2228 136.9 11.4167 136.9 11.4285C136.9 11.4402 133.548 11.4461 129.445 11.4461C125.347 11.4461 121.989 11.4285 121.989 11.3991C121.989 11.2815 122.658 9.99427 122.934 9.58869C123.322 9.00677 124.29 8.03691 124.866 7.64309C125.934 6.9201 127.143 6.46162 128.505 6.27353C129.139 6.18536 130.689 6.25002 131.294 6.39109Z"
              fill="#181617" />
        <path d="M185.773 0.84199C182.156 1.22406 179.245 2.57011 176.967 4.92716C175.03 6.93154 173.844 9.29448 173.339 12.1512C173.163 13.1563 173.151 15.7073 173.316 16.7066C173.814 19.7337 175.153 22.3376 177.26 24.3655C179.321 26.3582 181.898 27.5984 184.921 28.0628C185.749 28.1862 187.951 28.2038 188.796 28.0922C192.864 27.5455 196.134 25.5294 198.306 22.2318C199.052 21.1033 199.774 19.4633 200.097 18.1996C200.15 17.9938 200.202 17.7764 200.22 17.7176C200.249 17.6235 200.085 17.6176 197.279 17.6176H194.308L194.156 17.988C193.715 19.0048 193.17 19.8219 192.436 20.5625C191.391 21.6205 190.146 22.2847 188.649 22.5904C188.033 22.7138 186.63 22.7609 185.943 22.6786C183.536 22.3788 181.499 21.1621 180.225 19.2517C178.358 16.4597 178.364 12.5391 180.231 9.73532C181.699 7.54873 184.17 6.27909 186.976 6.27321C190.181 6.27321 192.712 7.87789 194.056 10.764L194.344 11.387H197.296C198.917 11.387 200.243 11.3635 200.243 11.34C200.243 11.2224 199.885 10.0175 199.686 9.48257C199.398 8.67729 198.852 7.58987 198.359 6.8375C196.228 3.5576 192.935 1.49444 188.913 0.92428C188.456 0.859623 186.184 0.800844 185.773 0.84199Z"
              fill="#181617" />
        <path d="M215.829 0.894485C214.197 1.08258 212.653 1.5293 211.192 2.24054C209.742 2.94001 208.755 3.63361 207.616 4.74454C206.043 6.27868 205.022 7.901 204.294 10.0112C203.513 12.2859 203.36 15.0897 203.889 17.5585C205.028 22.8604 209.384 26.9984 214.831 27.9507C219.598 28.7853 224.265 27.3981 227.5 24.177C229.185 22.4959 230.417 20.3564 230.999 18.0698C231.709 15.2955 231.574 12.2859 230.617 9.69965C228.885 5.00317 224.817 1.75266 219.674 0.953264C218.812 0.818071 216.733 0.788683 215.829 0.894485ZM219.164 6.41388C223.091 7.14862 225.78 10.4344 225.78 14.5019C225.78 15.9597 225.469 17.2411 224.817 18.4695C223.408 21.144 220.69 22.7311 217.532 22.7311C213.634 22.7311 210.434 20.327 209.513 16.7179C208.432 12.474 210.54 8.2478 214.456 6.80182C214.978 6.60785 215.489 6.47853 216.182 6.36098C216.804 6.25517 218.471 6.28456 219.164 6.41388Z"
              fill="#181617" />
        <path d="M86.3555 14.5024V27.7925L93.2709 27.769C100.732 27.7513 100.439 27.7631 101.912 27.4339C105.869 26.5522 109.104 24.0188 110.865 20.4157C111.792 18.523 112.197 16.7243 112.197 14.5024C112.197 12.9036 111.992 11.5811 111.534 10.1939C111.252 9.33573 110.571 7.91914 110.09 7.1844C107.836 3.76343 104.26 1.67088 100.004 1.27706C99.611 1.24179 96.8108 1.21828 92.86 1.21828H86.3555V14.5024ZM100.004 6.64363C100.867 6.80233 101.542 7.01981 102.294 7.38425C104.495 8.46579 105.951 10.4173 106.415 12.933C106.556 13.6795 106.556 15.3254 106.415 16.0719C105.793 19.4164 103.48 21.697 100.034 22.3554C99.6169 22.4377 98.9183 22.4553 95.7072 22.4788L91.8737 22.5082V14.5024V6.49668L95.6778 6.52607C98.8538 6.5437 99.5641 6.56133 100.004 6.64363Z"
              fill="#181617" />
        <path d="M143.571 1.28832C143.6 1.32947 145.69 3.80996 148.226 6.79008C152.64 11.9921 152.834 12.2154 152.922 12.1037C152.975 12.0391 153.756 11.1221 154.66 10.0641C155.564 9.01195 156.31 8.1185 156.315 8.07735C156.321 8.03621 155.065 6.48443 153.527 4.627L150.721 1.24718L147.122 1.22954C144.246 1.21779 143.535 1.22954 143.571 1.28832Z"
              fill="#181617" />
        <path d="M154.454 14.3379C148.402 21.556 143.382 27.5339 143.312 27.622L143.171 27.7866H146.834L150.491 27.7807L154.295 23.2312C156.385 20.7272 158.117 18.6758 158.141 18.6817C158.164 18.6817 159.855 20.7331 161.898 23.2371L165.62 27.7866H169.254C171.249 27.7866 172.887 27.7749 172.887 27.7572C172.887 27.7455 170.404 24.6889 167.369 20.9623C162.573 15.0844 161.857 14.1851 161.921 14.0969C162.056 13.9264 172.429 1.48868 172.553 1.34761L172.67 1.2183H169.066H165.461L154.454 14.3379Z"
              fill="#181617" />
      </svg>
      {{/link}}
    </div>

    <div class="header-links">
      <a href="/"
         class="header-link">
        <svg width="24"
             height="25"
             viewBox="0 0 24 25"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M5.25 19.25H12.75V13.75H5.25V19.25ZM5 5.25H19C19.1358 5.25 19.25 5.36421 19.25 5.5C19.25 5.63579 19.1358 5.75 19 5.75H5C4.86421 5.75 4.75 5.63579 4.75 5.5C4.75 5.36421 4.86421 5.25 5 5.25ZM4.75 13.75H4C3.86421 13.75 3.75 13.6358 3.75 13.5V12.5732L4.5752 8.44727L4.57617 8.44434C4.59683 8.33875 4.69655 8.25 4.82031 8.25H19.1797C19.3034 8.25 19.4032 8.33875 19.4238 8.44434L19.4248 8.44727L20.25 12.5732V13.5C20.25 13.6358 20.1358 13.75 20 13.75H19.25V19.5C19.25 19.6358 19.1358 19.75 19 19.75C18.8642 19.75 18.75 19.6358 18.75 19.5V13.75H13.25V19.5C13.25 19.6358 13.1358 19.75 13 19.75H5C4.86421 19.75 4.75 19.6358 4.75 19.5V13.75Z"
                stroke="#181617"
                stroke-width="1.5" />
        </svg>
        {{!-- TODO: chande to translated text --}}
        <span>Nossa Casa</span>
      </a>
      <a href="/"
         class="header-link">
        <svg width="24"
             height="25"
             viewBox="0 0 24 25"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M19.0005 11.5002H7.83047L12.7105 6.62021C13.1005 6.23021 13.1005 5.59021 12.7105 5.20021C12.3205 4.81021 11.6905 4.81021 11.3005 5.20021L4.71047 11.7902C4.32047 12.1802 4.32047 12.8102 4.71047 13.2002L11.3005 19.7902C11.6905 20.1802 12.3205 20.1802 12.7105 19.7902C13.1005 19.4002 13.1005 18.7702 12.7105 18.3802L7.83047 13.5002H19.0005C19.5505 13.5002 20.0005 13.0502 20.0005 12.5002C20.0005 11.9502 19.5505 11.5002 19.0005 11.5002Z"
                fill="#292728" />
        </svg>
        {{!-- TODO: chande to translated text --}}
        <span>Voltar para <u>casanova.com.br</u></span>
      </a>
    </div>
  </div>
  <div class="header-bottom-container">
    <div class="header-bottom" />
  </div>
</header>
