/***** Footer *****/
.footer {
  background-color: $deca_color_primary;
  padding: 80px 0
}

.footer-container {
  width: 100%;
  max-width: 1267px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 97px;
}

.footer-sections {
  display: flex;
  gap: 150px;
  width: 100%;
}

.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 56px;
}


.footer-section-links {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  width: 100%;
}

.footer-section-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-card {
  display: flex;
  flex-direction: column;

  h4 {
    margin: 0 0 16px 0;
    color: $deca_color_secondary;
    font-size: 22px;
    letter-spacing: 0.05rem;
    font-weight: 400;
  }

  p {
    margin: 0;
    color: $deca_color_text;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05rem;
    font-weight: 300;
  }

  span {
    margin: 0 0 30px 0;
    color: $deca_color_secondary;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.05rem;
    font-weight: 300;
  }
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    margin: 0;
    color: $deca_color_text;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05rem;
    font-weight: 300;
  }

  a:hover {
    text-decoration: none;
  }
}

.footer-brands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 50px;
}

.final-footer {
  padding: 25px 0;
}

.final-footer-container {
  @include max-width-container;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payments-methods {
  display: flex;
  align-items: center;
  gap: 16px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.05rem;
    margin: 0;
  }
}

.partners {
  display: flex;
  align-items: center;
  gap: 16px;
}