/***** Footer *****/
.footer {
  background-color: $deca_color_primary;
  padding: 80px 0;
  margin-top: 60px;

  @include mobile {
    margin-top: 40px;
  }
}

.footer-container {
  @include max-width-container-small;
  display: flex;
  flex-direction: column;
  gap: 97px;
}

.footer-sections {
  display: flex;
  gap: 150px;
  width: 100%;

  @include mobile {
    gap: 50px;
    flex-wrap: wrap;
  }
}

.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 56px;

  @include mobile {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}


.footer-section-links {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  width: 100%;

  .mobile {
    display: flex;
    
    @include tablet {
      display: none;
    }
  }

  @include desktop {
    gap: 100px;
  }

  @include mobile {
    gap: 50px;
    flex-direction: column;

    .last {
      display: none;
    }
  }
}

.footer-section-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-card {
  display: flex;
  flex-direction: column;

  h4 {
    margin: 0 0 16px 0;
    color: $deca_color_secondary;
    font-size: 22px;
    letter-spacing: 0.05rem;
    font-weight: 400;
  }

  p {
    margin: 0;
    color: $deca_color_text;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05rem;
    font-weight: 300;
  }

  span {
    margin: 0 0 30px 0;
    color: $deca_color_secondary;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.05rem;
    font-weight: 300;
  }
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    margin: 0;
    color: $deca_color_text;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05rem;
    font-weight: 300;
  }

  a:hover {
    text-decoration: none;
  }
}

.footer-brands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-brand {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column;
  }
}

.footer-brand-container {
  img {
    max-width: 97px;
    max-height: 25px;
  }
}

.final-footer {
  padding: 25px 0;
}

.final-footer-container {
  @include max-width-container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column;
    gap: 20px;
  }

  .payment-method-title {
    display: none;

    @include mobile {
      display: block;
      margin: 0;
      font-size: 14px;
    }
  }
}

.payments-methods {
  display: flex;
  align-items: center;
  gap: 16px;

  @include mobile {
    gap: 5px;
  }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.05rem;
    margin: 0;
    text-align: center;
  }
}

.partners {
  display: flex;
  align-items: center;
  gap: 16px;
}