/***** Header *****/
$header-height: 71px;

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
}

.header-container {
  @include max-width-container;
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
}

.logo img {
  max-height: 37px;
  vertical-align: middle;
}

.logo span {
  margin: 0 10px;
  color: $brand_color;
}

.logo a {
  display: inline-block;
}

.logo a:hover, .logo a:focus, .logo a:active {
  text-decoration: none;
}

.header-callcenter-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: center;
  color: $deca-1;
  text-decoration: underline;
  transition: all 0.3s ease;
  
  @include desktop {
    padding: 9px 33px;
  }

  &:hover {
    border: 1px solid $deca-2;
  }
}

.skip-navigation {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  left: -999px;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  position: absolute;
  top: auto;
  z-index: -999;


  [dir="rtl"] & {
    left: initial;
    right: -999px;
  }

  &:focus,
  &:active {
    left: auto;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    top: auto;
    z-index: 999;


  [dir="rtl"] & {
    left: initial;
    right: auto;
  }
  }
}

// Disable the skip-navigation link when modals are open
#zd-modal-container ~ .skip-navigation {
  display: none;
}
