/***** Header *****/
$header-height: 71px;

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background: linear-gradient(to bottom,
      #92AC8F,
      #92AC8F 30%,
      #92AC8F00 70%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  @media screen and (max-width: 1480px) {
    padding: 30px 20px;
  }

  .header-container {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: white;
    height: 64px;
    max-width: 1440px;
    width: 100%;
    padding: 16px 40px;
    border-radius: 40px;

    .logo {
      max-width: 230px;
      width: 100%;

      @media screen and (max-width: 720px) {
        max-width: 180px;

      }

      a {
        display: flex;
        align-items: center;
      }
    }

    .header-links {
      display: flex;
      gap: 16px;

      .header-link {
        gap: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        padding: 6px 8px;

        &:hover {
          text-decoration: none;
        }

        @media screen and (max-width: 425px) {
          span {
            display: none;
          }
        }
      }
    }
  }

  .header-bottom-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;

    @media screen and (max-width: 1480px) {
      padding: 0 32px;
    }

    .header-bottom {
      width: 100%;
      max-width: 1260px;
      height: 52px;
      background: #1b4534;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;

      @media screen and (max-width: 720px) {
        height: 37px;
      }
    }

  }
}



.logo img {
  max-height: 37px;
  vertical-align: middle;
}

.logo span {
  margin: 0 10px;
  color: $brand_color;
}

.logo a {
  display: inline-block;
}

.logo a:hover,
.logo a:focus,
.logo a:active {
  text-decoration: none;
}

.header-callcenter-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: center;
  color: $deca_color_primary;
  text-decoration: underline;
  transition: all 0.3s ease;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
  background: transparent;

  @include desktop {
    padding: 9px 33px;

    &:hover {
      border: 1px solid $deca_color_secondary;
    }
  }
}

.skip-navigation {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  left: -999px;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  position: absolute;
  top: auto;
  z-index: -999;


  [dir="rtl"] & {
    left: initial;
    right: -999px;
  }

  &:focus,
  &:active {
    left: auto;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    top: auto;
    z-index: 999;


    [dir="rtl"] & {
      left: initial;
      right: auto;
    }
  }
}

// Disable the skip-navigation link when modals are open
#zd-modal-container~.skip-navigation {
  display: none;
}
