/***** Homepage *****/

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

.help-center {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #F1F1F1;


  .section-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
    padding: 0 16px;
    flex-direction: column;
    gap: 16px;

    @media screen and (max-width: 720px) {
      gap: 0px;
    }

    @media screen and (max-width: 425px) {
      margin: 30px 0 0 0;
    }

    .help-center-title {
      color: #181716;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 300;
      line-height: 44px;
      letter-spacing: 1.8px;
      margin: 0;
      font-family: 'Roboto', sans-serif;

      @media screen and (max-width: 720px) {
        font-size: 36px;
        line-height: 44px;
      }
    }

    .help-center-subtitle {
      color: #181716;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-style: light;
      font-size: 24px;
      line-height: 44px;
      letter-spacing: 1.8px;
      text-align: center;
      vertical-align: middle;

      @media screen and (max-width: 425px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  .quick-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 56px;
    padding: 52px 0;
    flex-wrap: wrap;

    @media screen and (max-width: 720px) {
      gap: 30px;
      padding: 0 70px;
    }

    @media screen and (max-width: 425px) {
      gap: 18px;
      padding: 0 20px;
    }

    .selector-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 120px;
      text-decoration: none;

      &:hover {
        .icon-container {
          background: #1B4534
        }

        .selector-text {
          text-decoration: none;
          font-weight: 500;
        }
      }

      @media screen and (max-width: 425px) {
        max-width: 100px;
      }

      .icon-container {
        width: 80px;
        height: 80px;
        background: #8BAD8D;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s all cubic-bezier(0, 0, 0, 1);

        svg {
          width: 42px;
          height: 42px;
        }
      }

      .selector-text {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.0rem;
        font-weight: 300;
      }
    }
  }

  .frequently-asked {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 1.8px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 32px 0;

    @media screen and (max-width: 720px) {
      display: none;
    }

    @media screen and (max-width: 425px) {
      display: block;
      padding: 24px 0;
    }
  }

  .help-center-container {
    display: flex;
    gap: 180px;
    width: 100%;
    max-width: 1440px;
    padding-bottom: 80px;
    margin-top: 16px;

    @media screen and (max-width: 1480px) {
      padding: 0 20px 80px;
    }

    @media screen and (max-width: 1280px) {
      gap: 20px;
    }

    @include mobile {
      flex-direction: column;
      margin-top: 0;
      gap: 22px;
      padding: 0 20px 30px;
    }

    .sidebar {
      padding: 0 40px 0 0;
      flex-shrink: 0;
      gap: 16px;

      @media screen and (max-width: 720px) {
        margin-bottom: 32px;
      }

      @media screen and (max-width: 425px) {
        margin-bottom: 40px;
      }

      .choose-option-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 5%;
        vertical-align: middle;
        margin: 0;
        padding: 16px 21px;
        text-transform: uppercase;

        @media screen and (max-width: 720px) {
          padding: 6px 21px;
        }
      }

      #sections-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        .section-item {
          cursor: pointer;
          display: flex;
          height: 40px;
          padding: 16px 21px;
          align-items: center;
          gap: 10px;
          align-self: stretch;
          transition: all 0.3s ease;

          color: $text_color;
          text-align: center;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          text-transform: uppercase;

          &.selected {
            border-left: 2px solid #000;
            font-weight: 400;
          }
        }
      }
    }
  }

  .articles-container {
    width: 100%;

    @media screen and (max-width: 1280px) {
      padding: 0 40px 0 40px
    }

    @media screen and (max-width: 1280px) {
      padding: 0;
    }

    #articles-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      h2 {
        font-family: 'Roboto', sans-serif;
        color: #111;
        text-align: center;

        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.05rem;
        margin: 0 0 50px;
      }

      .article-item {
        cursor: pointer;
        padding: 0px 0px 24px;
        border-bottom: 1px solid #0000004D;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        color: $text_color;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.8px;
        transition: font-weight 0.3s ease;

        @include mobile {
          font-size: 16px;
          line-height: 20px;
        }

        &.open {
          .accordion-icon {
            transform: rotate(180deg);
          }
        }

        &+.article-body+.article-item {
          margin-top: 24px;
        }

        // Add a selector for the article item that has a div directly inside the next article-body
        &:has(+ .article-body[style*="display: block"]) {
          /* Custom styles for article items with div inside their article-body */

          border-bottom: none
        }

        .accordion-icon {
          width: 24px;
          min-width: 24px;
          height: 24px;
          fill: #0000004D;
          transition: transform 0.3s ease;
        }
      }

      .article-body {
        display: none;
        padding: 0 0px;
        width: 100%;
        border-bottom: 1px solid #0000004D;
      }
    }

    #article-content {
      margin-top: 20px;
    }
  }
}

.articles-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  .articles-footer-container {
    display: flex;
    gap: 24px;
    align-items: center;
    background: #F5F5F5;
    justify-content: center;
    padding: 10px 70px;
    margin: 20px 0 42px;

    @include mobile {
      width: 100%;
      padding: 10px;
    }


    .articles-votes-question {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.05rem;
      color: #4d4d4d;
    }
  }


  .articles-votes-controls {
    display: flex;
    align-items: center;
    gap: 24px;

    .articles-vote {
      border: none;
      outline: none;
      cursor: pointer;
      background: transparent;
      padding: 0;

      span {
        border: 0;
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
      }
    }

    .articles-vote-up {
      &::after {
        content: '';
        display: inline-block;
        width: 22px;
        height: 22px;
        background-image: url($vote_up_icon);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .articles-vote-down {
      &::after {
        content: '';
        display: inline-block;
        width: 22px;
        height: 22px;
        background-image: url($vote_down_icon);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.contact-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 70px 0;
  background: #E6E6E6;

  // @include max-width-container-small;


  .contact-titles {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (max-width: 720px) {
      gap: 0px;
    }

    @media screen and (max-width: 425px) {
      padding: 0 30px;
    }

    h3 {
      font-family: 'Roboto', sans-serif;
      color: #12251A;
      text-align: center;
      font-size: 36px;
      font-style: light;
      font-weight: 300;
      line-height: 44px;
      letter-spacing: 1.8px;
      margin: 0;
    }

    p {
      color: #12251A;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 44px;
      letter-spacing: 1.8px;
      margin: 0;
    }
  }


  .contact-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0;
    padding: 20px 0;

    @media screen and (max-width: 425px) {
      flex-direction: column;
      align-items: center;
    }

    .contact-button {
      background-color: #8BAD8D;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      display: flex;
      height: 40px;
      padding: 0px 33px 2px 33px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      transition: background-color 0.3s ease;
      min-width: 217px;

      &:hover {
          background-color: #1B4534;
          text-decoration: none;
      }

      @media screen and (max-width: 720px) {
        padding: 12px 30px;
        width: fit-content;
        min-width: 0px;
      }


      img{
        filter: brightness(1);
      }
    }

  }

  .contact-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;

    #sac-info {
      padding-top: 16px;


      p {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: $text_color;
        text-align: center;
        font-size: 16px;
        font-style: light;
        line-height: 22px;
        letter-spacing: 0.05rem;
      }
    }

  }
}
