/***** Homepage *****/

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

.background-block {
  height: 40px;
  background: $deca_color_secondary;
  margin-bottom: 60px;

  @include mobile {
    margin-bottom: 40px
  }
}

.help-center {
  @include max-width-container-medium;
}

.help-center-title {
  color: $text_color;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 1.8px;
  margin: 0;

  @include mobile {
    font-size: 22px;
    line-height: 28px;
  }
}

.help-center-container {
  display: flex;
  gap: 40px;
  margin: 60px 0;
  width: 100%;

  @include mobile {
    flex-direction: column;
    margin: 40px 0;
  }
}

.sidebar {
  padding: 0 40px 0 0;
  border-right: 1px solid #e6e6e6;
  flex-shrink: 0;

  @include mobile {
    display: none;
  }
}

#section-select {
  display: none;

  @include mobile {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    border: 1px solid $deca_color_secondary;
    background: transparent;
  }
}

.section-item.selected {
  background-color: $deca_color_secondary;
}


#sections-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.section-item[data-section-id="32387085346195"] .section-icon {
  background: url($knowledge_icon_troca);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.section-item[data-section-id="32387120658323"] .section-icon {
  background: url($knowledge_icon_entrega);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.section-item[data-section-id="32387064971411"] .section-icon {
  background: url($knowledge_icon_compras);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.section-item {
  cursor: pointer;
  display: flex;
  height: 40px;
  padding: 0px 12px 2px 12px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid $deca_color_secondary;
  transition: all 0.3s ease;

  color: $text_color;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.section-item:hover {
  background-color: $deca_color_secondary;
}

.articles-container {
  width: 100%;
}

#article-content {
  margin-top: 20px;
}

#articles-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  h2 {
    color: $text_color;
    text-align: center;

    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    padding: 0 16px;
    margin: 0;

    @include mobile {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.article-item {
  cursor: pointer;
  padding: 9px 16px;
  border-bottom: 1px solid $deca_color_secondary;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  color: $text_color;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.8px;
  transition: font-weight 0.3s ease;
  margin-top: 22px;

  @include mobile {
    font-size: 16px;
    line-height: 20px;
  }
}

.article-item:hover {
  font-weight: bold;
}

.article-body {
  display: none;
  padding: 0 16px;
  width: 100%;
}

.articles-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles-footer-container{
  display: flex;
  gap: 24px;
  align-items: center;
  background: #F5F5F5;
  justify-content: center;
  padding: 10px 70px;
  margin: 20px 0;

  @include mobile {
    width: 100%;
    padding: 10px;
  }
}

.articles-votes-question {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.05rem;
  color: #4d4d4d;
}

.articles-vote {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 0;

  span {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}

.articles-vote-up {
  &::after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url($vote_up_icon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.articles-vote-down {
  &::after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url($vote_down_icon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.articles-votes-controls {
  display: flex;
  align-items: center;
  gap: 24px;
}

.accordion-icon {
  width: 24px;
  height: 24px;
  fill: $deca_color_secondary;
  transition: transform 0.3s ease;
}

.article-item.open .accordion-icon {
  transform: rotate(180deg);
}

.mobile-section-select {
  display: none;

  @include mobile {
    display: block;

    p {
        margin: 0 0 7px 0;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.05rem;
        color: $text_color;
      }
    }
}

.contact-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include max-width-container-small;
}

.contact-titles {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;

  h3 {
    color: $text_color;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.05rem;
    margin: 0;

    @include mobile {
      font-size: 18px;
      line-height: 22px;
    }
  }

  p {
    color: #4d4d4d;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.05rem;
    margin: 0;

    @include mobile {
      font-size: 14px;
      line-height: 20px;
    }
  }
}


.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;

  @include mobile {
    flex-direction: column;
  }
}

.contact-button {
  background-color: #fff;
  color: $deca_color_primary;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  border: 1px solid $deca_color_secondary;
  cursor: pointer;
  display: flex;
  height: 40px;
  padding: 0px 33px 2px 33px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
  min-width: 217px;

  @include mobile {
    width: 100%;
  }

  &:hover {
    @include desktop {
      background-color: $deca_color_secondary;
      text-decoration: none;
    }
  }
}

.contact-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    margin: 0;

    color: $text_color;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0.8px;

    &:first-child {
      font-weight: bold;
    }
  }
}

#sac-info {
  padding-top: 60px;

  @include mobile {
    padding-top: 40px;
  }
}
