/***** Search field *****/

$icon-color: #777;
$padding-left: 40px;
$padding-right: 20px;

.search-container {
  position: relative;
  margin-top: 39px;
}

.search {
  border-bottom: 1px solid $dexco-1;
  background: #ffff;
  display: flex;
  position: relative;
  transition: $input-transition;

  &:focus-within {
    border-color: $brand_color;
  }

  input[type="search"], 
  .clear-button {
    background-color: #fff;
    border: none;
  }

  &-full input[type="search"], 
  &-full .clear-button {
    border-color: #fff;
  }

  input[type="search"] {
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    flex: 1 1 auto;
    height: 40px;
    width: 100%;
    color: $link_color;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.8px;

    &:focus {
      color: $link_color;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0.8px;
    }

    &::placeholder {
      color: $link_color;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0.8px;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 1000px #fff inset;
    }

  }

  .clear-button {
    align-items: center;
    box-sizing: border-box;
    color: $icon-color;
    cursor: pointer;
    display: none;
    flex: none;
    justify-content: center;
    padding: 0 15px;
    outline: none;

    &:focus {
      @include focus-ring;
    }

  }

  &-has-value .clear-button {
    display: flex;
  }

}

[dir="ltr"] .search {
  input[type="search"] {
    padding-left: 50px;
    padding-right: 20px;
  }

  &-has-value input[type="search"] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;

    &:focus {
      border-right-color: $brand_color;
    }

  }

  .clear-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-color: transparent;

    &:focus {
      border-left-color: $brand_color;
    }
    
  }
}

[dir="rtl"] .search {
  input[type="search"] {
    padding-left: $padding-right;
    padding-right: $padding-left;
  }

  &-has-value input[type="search"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-color: transparent;

    &:focus {
      border-left-color: $brand_color;
    }

  }

  .clear-button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;

    &:focus {
      border-right-color: $brand_color;
    }

  }
}

.search-icon {
  @include vertical-align;
  position: absolute;
  left: 16px;
  z-index: 1;
  width: 24px;
  height: 24px;
  color: $dexco-1;
  pointer-events: none;

  [dir="rtl"] & {
    left: auto;
    right: 16px;
  }
}